/*--------------------STYLE GUIDE--------------------*/

/* Add eventually */
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');

body {
    margin: 50;
    padding: 0;
}

h1 {
    color: black;
    margin-top: 150px;
    font-family: "Playfair Display SC";
    text-align: center;
}

#subTitle{
    font-size: 18;
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}

#blurb {
    font-size: 14;
    margin-top: 5px;
    text-align: center;
}

p {
    font-family: "Lato"
}


.visualization {
    overflow: hidden
}
.firstSection { 
    width:30%; 
    height: 100%;
    float: left;
    margin-right: 15px
}
.secondSection{ 
    width:30%; 
    height: 100%;
    float: left;
    margin-right: 15px;
}
.thirdSection{ 
    width:40%; 
    height:100%;
    float: left
}


