/*--------------------STYLE GUIDE--------------------*/

/* Add eventually */

body {
    margin: 50;
    padding: 0;
}

h1 {
    color: #2C3E50;
}
.visualization {
    overflow: hidden
}
.firstSection { 
    width:30%; 
    height: 100%;
    float: left;
}
.secondSection{ 
    width:40%; 
    height: 100%;
    float: left;
}
.thirdSection{ 
    width:30%; 
    height:100%;
    float: left
}


