/*--------------------STYLE GUIDE--------------------*/

/* Add eventually */
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');

body {
    margin: 50;
    padding: 0;
}

a{
    text-decoration:  none;
    color: lightskyblue;
}
h1 {
    color: black;
    margin-top: 5;
    font-family: "Playfair Display SC";
    text-align: center;
}

#subTitle{
    font-size: 16;
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}

#blurb {
    font-size: 14;
    margin-top: 40px;
    text-align: center;
    color: grey;
}

#place {
    color: grey;
    /* margin-bottom: 10cpx; */
    font-size: 14;
}

#description_start {
    color: grey;
    margin-top: -10px;
}
.descrip{
    text-align: center;
}

.buttonText{
    font-family: "Lato";
    font-size: 12px;
    text-align: center;
}
#totalNumber {
    font-weight: 600;
    color:#E74C3C;
    font-size: 2rem;
    /* margin-top: 30px;  */
    margin-bottom: 10px;
}

#complaintType {
    color: grey;
    /* margin-top: -10px; */
    font-size: 14;
}

p {
    font-family: "Lato"
}

#whitespace{
    padding: 10px;
}

.svg1{
    display: block;
    cursor: pointer;
}
.visualization {
    overflow: hidden
}
.firstSection { 
    width:320; 
    height: 700px;
    float: left;
    /* margin-right: 50px; */
    text-align: center;
    margin-top:35px;
}
.secondSection{ 
    width:400; 
    height: 700px;
    float: left;
    /* margin-right: 15px; */
    margin-left:100px;
    margin-top:20px;
}
.thirdSection{ 
    width:320; 
    height:800px;
    float: left;
    margin-left:100px;
    margin-top:20px;
    /* text-align: center; */
    font-family: Lato;
}



.thirdSection rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px; }
.thirdSection text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa; }
.thirdSection text.axis-workweek {
  fill: #000; }
.thirdSection text.axis-worktime {
  fill: #000; }


/* Heatmap */

.thirdSection rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px; }
.thirdSection text.mono {
  font-size: 9pt;
  /* font-family: Consolas, courier; */
  font-family: "Lato";
  fill: #aaa; }
.thirdSection text.axis-workweek {
  fill: grey; 
  font-family: "Lato";}
.thirdSection text.axis-worktime {
  fill: grey; 
  font-family: "Lato"}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 rgb(237, 237, 237);
  color: black;
  /* font-family: "Playfair Display SC"; */
  font-family: Lato;
  /* border: 1px solid rgb(113, 117, 109); */
  border-radius: 5px;
  padding: 14px;
  text-align: center;
  z-index: 1;
  -webkit-box-shadow: 4px 6px 10px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 6px 10px -5px rgba(0,0,0,0.75);
box-shadow: 4px 6px 10px -5px rgba(0,0,0,0.75);
}

.toolTip span{
    color: rgba(232, 68, 68, 0.97);
}
/* shared with before and after */
.toolTip:before, .toolTip:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
    border: 10px solid transparent; /* arrow size */
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* arrow which acts as a background shadow */
.toolTip:before {
	border-bottom-color: rgb(237, 237, 237);  /* arrow color */

	/* positioning */
	position: absolute;
	top: 30px;
	left:-20px;
	z-index: -1;
}
