/*--------------------STYLE GUIDE--------------------*/

/* Add eventually */
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');

body {
    margin: 50;
    padding: 0;
}

h1 {
    color: black;
    margin-top: 150px;
    font-family: "Playfair Display SC";
    text-align: center;
}

#subTitle{
    font-size: 16;
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}

#blurb {
    font-size: 14;
    margin-top: 5px;
    text-align: center;
}

#place {
    color: grey;
    margin-bottom: 10px;
}

.buttonText{
    font-family: "Lato";
    font-size: 12px;
    text-align: center;
}
#totalNumber {
    font-weight: 600;
    color:#E74C3C;
    margin-top: 30px; 
    margin-bottom: -10px;
}

#complaintType {
    color: grey;
    margin-top: -10px;
}



p {
    font-family: "Lato"
}

.svg1{
    display: block
}
.visualization {
    overflow: hidden
}
.firstSection { 
    width:320; 
    height: 100%;
    float: left;
    margin-right: 15px;
    text-align: center;
}
.secondSection{ 
    width:28%; 
    height: 100%;
    float: left;
    margin-right: 15px;
}
.thirdSection{ 
    width:39%; 
    height:100%;
    float: left
}



.thirdSection rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px; }
.thirdSection text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa; }
.thirdSection text.axis-workweek {
  fill: #000; }
.thirdSection text.axis-worktime {
  fill: #000; }
